<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Gliderradar LIVE (EDLG)</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#ff4444">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <style>
        iframe {
            width: 100%;
            min-height: 50vh;
            padding: 0;
            margin: 5% 0 0;
            border: none;
        }

        a.coordinate-link,
        a.coordinate-link:not([href]):not([tabindex]) {
            text-decoration: underline;
            color: blue;
            cursor: pointer;
        }

        .variable-value {
            /* This values might change often, therefore align them right */
            text-align: right;
        }

        h1 img.header-image {
            height: 1.1em;
            vertical-align: sub;
        }

        .card:nth-of-type(2) {
            margin: 0 0 0 1%;
        }

        .header {
            margin: 3% 0;
        }
    </style>
</head>
<body>
<div id="list">
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">&nbsp;</span>
    </nav>
    <div class="header">
        <div class="container">
            <h1 class="display-4"><img src="android-chrome-192x192.png" class="header-image" alt="Logo"> Gliderradar LIVE (EDLG)</h1>
            <p class="lead">Aktuell aktive Flugzeuge (mit FLARM) in Kleve und Asperden</p>
        </div>
    </div>
    <div class="container" v-if="hasNotificationPermission === false">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Notifications</h5>
                <p class="card-text">
                    Aktiviere die Notifications, um automatisch informiert zu werden, wenn ein Flugzeug startet, landet
                    oder neu auf der Karte erscheint.
                </p>
                <a href="javascript:void(0)" v-on:click="requestNotificationPermissions()" class="btn btn-primary">Notifications
                    aktivieren</a>
            </div>
        </div>
    </div>
    <div class="container overflow-auto">
        <table class="table table-striped table-bordered table-dresponsive">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Kennung</th>
                <th scope="col">Höhe</th>
                <th scope="col">Geschwindigkeit</th>
                <th scope="col">Kurs</th>
                <th scope="col">Koordinaten</th>
                <th scope="col">Steigen</th>
                <th scope="col">Kreise/Minute</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <template v-for="item in data">
                <tr>
                    <td class="variable-value">
                        <span>
                            <span v-if="!!item.aircraft.registration">
                                <b>{{item.aircraft.registration}}</b><br>{{item.aircraft.type}}
                            </span>
                            <span v-if="!item.aircraft.registration">unbekannt</span>
                        </span>
                    </td>
                    <td class="variable-value"><span>{{item.altitude.toFixed(0)}}m</span></td>
                    <td class="variable-value"><span>{{item.speed.toFixed(0)}}km/h</span></td>
                    <td class="variable-value"><span>{{item.course.toFixed(0)}}°</span></td>
                    <td class="variable-value">
                        <span>
                            <a class="coordinate-link"
                               title="Zeigt das Flugzeug auf der Live-Map an."
                               v-on:click="updateFrameCoordinates(item.position.latitude, item.position.longitude)">
                                {{convertCoordinateToReadable(item.position.latitude, true)}}<br>
                                {{convertCoordinateToReadable(item.position.longitude, false)}}
                            </a>
                        </span>
                    </td>
                    <td class="variable-value"><span>{{item.verticalSpeed.toFixed(1)}}m/s</span></td>
                    <td class="variable-value"><span>{{Math.round(item.turnRate)}}</span></td>
                    <td><span>{{                        
                        item.flying
                            ? item.turnRate >= 4 // approximated...
                                ? 'in Thermik'
                                : 'in der Luft'
                            : 'am Boden'
                        
                        }}</span></td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
    <br>
    <div class="container">
        <div class="d-flex flex-row bd-highlight mb-3 align-items-stretch">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Live-Map</h5>
                    <p class="card-text">Zeigt eine eingebettete Live-Map (bereitgestellt von <a
                            href="https://live.glidernet.org" target="_blank">live.glidernet.org</a>)
                    </p>
                    <a href="javascript:void(0)" v-on:click="showFrame = !showFrame" class="btn btn-primary">
                        Live-Map {{!showFrame ? 'aktivieren' : 'deaktivieren'}}
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Open Glider Network</h5>
                    <p class="card-text">Alle Daten kommen von Open Glider Network. Dort gibt es Live-Maps sowie eine
                        Entwickler-Doku.</p>
                    <a href="http://wiki.glidernet.org/" class="btn btn-primary" target="_blank">zum Open
                        Glider Network</a>
                </div>
            </div>
        </div>
        <div v-if="showFrame === true" id="frame-container">
            <iframe name="frame" allowfullscreen :src="getIframeSrc()"></iframe>
        </div>
        <div class="container overflow-auto">
            Beobachtetes Gebiet: {{ convertCoordinateToReadable(configuration.filterPosition.latitude, true) }},
            {{ convertCoordinateToReadable(configuration.filterPosition.longitude, false) }}<br>
            Beobachtungsradius: {{configuration.filterRadius}} km<br>
            Aktualisierungszeitraum: {{configuration.intervalSeconds ? 'Alle ' + configuration.intervalSeconds + ' Sekunden' : 'Ohne Verzögerung'}}
            {{configuration.eventsOnly ? 'nur für Ereignisse' : ''}}
        </div>
    </div>
</div>
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">
        2019 - 2022, Niklas Schmidt<br>
        Sources available on <a href="https://github.com/neon-JS/ogngatewaynet" target="_blank">Github</a><br>
        Thanks to the <a href="http://wiki.glidernet.org/" target="_blank">Open Glider Network</a> for your data and documentation!
    </div>
</footer>
<script src="vue.min.js"></script>
<script src="signalr.min.js"></script>
<script>
    const HOST = 'https://mitarbeiterserver.traperto-hosting.com/niklas/gliderradar';

    // noinspection JSUnresolvedFunction
    let app = new Vue({
        el: '#list',
        data() {
            return {
                data: [],
                hasNotificationPermission: window.Notification && Notification.permission === 'granted',
                showFrame: false,
                iframeSrc: null,
                configuration: {
                    maxAgeSeconds: Infinity,
                    eventsOnly: false,
                    intervalSeconds: 0,
                    filterPosition: {
                        latitude: 0,
                        longitude: 0
                    },
                    filterRadius: 0
                }
            }
        },
        created() {
            // noinspection JSUndeclaredVariable
            /**
             * Converts given coordinate (given as number) to a readable format
             * @param coordinate number The coordinate-value to convert
             * @param isLatitude boolean If true, given coordinate is a latitude value, otherwise a longitude
             * @returns string Formatted coordinate value
             */
            convertCoordinateToReadable = (coordinate, isLatitude) => {
                let degrees = Math.floor(coordinate);
                const minutes = Math.floor(coordinate * 100 % 100 * 0.6);
                const seconds = Math.floor(coordinate * 10000 % 100 * 0.6);

                let direction;
                if (isLatitude) {
                    if (degrees > 0) {
                        direction = 'N';
                    } else {
                        direction = 'S';
                        degrees *= -1;
                    }
                    degrees = degrees.toString().padStart(2, '0');
                } else {
                    if (degrees > 0) {
                        direction = 'E';
                    } else {
                        direction = 'W';
                        degrees *= -1;
                    }
                    degrees = degrees.toString().padStart(3, '0');
                }

                return `${degrees}° ${minutes.toString().padStart(2, '0')}' ${seconds.toString().padStart(2, '0')}" ${direction}`;
            };
        },

        mounted() {
            // noinspection JSUndeclaredVariable
            /**
             * Returns the iframe-src for the gliderradar-frame
             * @returns string
             */
            getIframeSrc = () => {
                if (!this.iframeSrc) {
                    this.iframeSrc = `https://live.glidernet.org/#c=${this.configuration.filterPosition.latitude},${this.configuration.filterPosition.longitude}&z=12&s=1`;
                }
                return this.iframeSrc;
            };


            // noinspection JSUndeclaredVariable
            /**
             * Requests permission to send Notifications
             */
            requestNotificationPermissions = () => {
                Notification.requestPermission(permission => this.$nextTick(() => this.hasNotificationPermission = permission === 'granted'));
            }

            // noinspection JSUndeclaredVariable
            /**
             * Sends a notification with given information
             * @param title string Title of the notification
             * @param message string Message of the notification
             * @param icon string Icon of the message
             */
            sendNotification = (title, message, icon) => {
                if (this.hasNotificationPermission) {
                    return new Notification(title, {body: message, icon})
                }
            }

            // noinspection JSUndeclaredVariable
            /**
             * Updates the iframes coordinates to the given ones.
             * @param latitude number Latitude of coordinate
             * @param longitude number Longitude of coordinate
             */
            updateFrameCoordinates = (latitude, longitude) => {
                // HACKY workaround, the frame won't reload if only the anchor changes, so blank out the page and reassign it to force reload
                this.$nextTick(() => this.iframeSrc = 'about:blank');
                setTimeout(() => this.$nextTick(() => {
                    this.iframeSrc = `https://live.glidernet.org/#c=${latitude},${longitude}&z=17&s=1`;
                    if (!this.showFrame) {
                        this.showFrame = true;
                    }
                }), 10);
            }

            // noinspection JSUndeclaredVariable
            /**
             * Handles new incoming data
             * @param entry object The new object to add
             * @param isUpdate bool If true, the message is handled as an update after getting initial data
             */
            handleMessage = (entry, isUpdate = true) => {
                this.data = this.data || [];
                let outdatedIndex = this.data.findIndex(outdatedEntry => outdatedEntry.aircraft.id === entry.aircraft.id);

                if (outdatedIndex === -1) {
                    if (isUpdate) {
                        const text = entry.aircraft.registration
                            ? `Die [${entry.aircraft.registration}] ist neu aufgetaucht.`
                            : 'Ein Flugzeug mit unbekannter Kennung ist neu aufgetaucht.';
                        sendNotification(`Gliderradar: Neues Flugzeug`, text);
                    }

                    this.data.push(entry);
                } else {
                    if (isUpdate) {
                        if (!this.data[outdatedIndex].flying && entry.flying) {
                            const text = entry.aircraft.registration
                                ? `Die [${entry.aircraft.registration}] ist gestartet.`
                                : 'Ein Flugzeug mit unbekannter Kennung ist gestartet.';
                            sendNotification(`Gliderradar: Start`, text);

                        } else if (this.data[outdatedIndex].flying && !entry.flying) {
                            const text = entry.aircraft.registration
                                ? `Die [${entry.aircraft.registration}] ist gelandet.`
                                : 'Ein Flugzeug mit unbekannter Kennung ist gelandet.';
                            sendNotification(`Gliderradar: Landung`, text);
                        }
                    }

                    this.data[outdatedIndex] = entry;

                    if (isUpdate) {
                        sortEntries();
                    }
                }
            }

            // noinspection JSUndeclaredVariable
            /**
             * Sorts current entries
             */
            sortEntries = () => {
                this.data = this.data
                    .sort((entry1, entry2) => {
                        if (entry1.aircraft.registration === '') return 1;
                        if (entry2.aircraft.registration === '') return -1;

                        return (entry1.aircraft.id > entry2.aircraft.id) ? 1 : -1;
                    })
                    .sort((entry1, entry2) => {
                        if (entry1.flying && !entry2.flying) return -1;
                        if (!entry1.flying && entry2.flying) return 1;
                        return 0;
                    })
                    .filter((entry) => (((new Date()).valueOf() - new Date(entry.dateTime).valueOf()) / 1000) <= this.configuration.maxAgeSeconds);
            }

            // noinspection JSUndeclaredVariable
            /**
             * Tries to connect to the signalR socket that provides all the data
             * @returns {Promise<void>}
             */
            connect = async () => {
                // noinspection JSUnresolvedVariable,JSUnresolvedFunction
                const connection = new signalR.HubConnectionBuilder()
                    .withUrl(`${HOST}/websocket`)
                    .configureLogging(signalR.LogLevel.Information)
                    .build();

                function start() {
                    return new Promise((resolve) => {
                        connection.start()
                            .then(resolve)
                            .catch((error) => {
                                console.error('Could not connect to SignalR socket. Retrying in 5 seconds.', error);
                                setTimeout(() => start().then(resolve), 5000);
                            });
                    });
                }

                connection.on('NewData', handleMessage);
                connection.onclose(async () => await start());

                fetch(`${HOST}/api/current`)
                    .then(b => b.json())
                    .then(data => {
                        data.forEach(e => handleMessage(e, false));
                        sortEntries();
                    });

                fetch(`${HOST}/api/config`)
                    .then(b => b.json())
                    .then(config => this.configuration = config);
            }
        }
    });

    connect();
</script>
</body>
</html>
