<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Gliderradar LIVE (EDLG)</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/niklas/gliderradar/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/niklas/gliderradar/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/niklas/gliderradar/favicon-16x16.png">
    <link rel="manifest" href="/niklas/gliderradar/site.webmanifest">
    <link rel="mask-icon" href="/niklas/gliderradar/safari-pinned-tab.svg" color="#ff4444">
    <link rel="shortcut icon" href="/niklas/gliderradar/favicon.ico">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-config" content="/niklas/gliderradar/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <style>
        iframe {
            width: 100%;
            min-height: 50vh;
            padding: 0;
            margin: 5% 0 0;
            border: none;
        }

        a.coordinate-link,
        a.coordinate-link:not([href]):not([tabindex]) {
            text-decoration: underline;
            color: blue;
            cursor: pointer;
        }

        .variable-value {
            /* This values might change often, therefore align them right */
            text-align: right;
        }
    </style>
</head>
<body>
<div id="list">
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">&nbsp;</span>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Gliderradar LIVE &#x1F534 (EDLG)</h1>
            <p class="lead">Aktuell aktive Flugzeuge (mit FLARM) in Kleve und Asperden</p>
        </div>
    </div>
    <div class="container" v-if="hasNotificationPermission === false">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Notifications</h5>
                <p class="card-text">
                    Aktiviere die Notifications, um automatisch informiert zu werden, wenn ein Flugzeug startet, landet
                    oder neu auf der Karte erscheint.
                </p>
                <a href="javascript:void(0)" v-on:click="requestNotificationPermissions()" class="btn btn-primary">Notifications
                    aktivieren</a>
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table table-striped table-bordered table-dresponsive">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Kennung</th>
                <th scope="col">Höhe</th>
                <th scope="col">Geschwindigkeit</th>
                <th scope="col">Kurs</th>
                <th scope="col">Koordinaten</th>
                <th scope="col">Steigen</th>
                <th scope="col">Kreise/Minute</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <template v-for="item in data">
                <tr>
                    <td class="variable-value">
                        <span>
                            <span v-if="!!item.aircraft.registration">
                                <b>{{item.aircraft.registration}}</b><br>{{item.aircraft.type}}
                            </span>
                            <span v-if="!item.aircraft.registration">unbekannt</span>
                        </span>
                    </td>
                    <td class="variable-value"><span>{{item.altitude.toFixed(0)}}m</span></td>
                    <td class="variable-value"><span>{{item.speed.toFixed(0)}}km/h</span></td>
                    <td class="variable-value"><span>{{item.course.toFixed(0)}}°</span></td>
                    <td class="variable-value">
                        <span>
                            <a class="coordinate-link"
                               title="Zeigt das Flugzeug auf der Live-Map an."
                               v-on:click="updateFrameCoordinates(item.position.latitude, item.position.longitude)">
                                {{convertCoordinateToReadable(item.position.latitude, true)}}<br>
                                {{convertCoordinateToReadable(item.position.longitude, false)}}
                            </a>
                        </span>
                    </td>
                    <td class="variable-value"><span>{{item.verticalSpeed.toFixed(1)}}m/s</span></td>
                    <td class="variable-value"><span>{{Math.round(item.turnRate)}}</span></td>
                    <td><span>{{                        
                        item.isFlying
                            ? item.turnRate >= 4 // approximated...
                                ? 'in Thermik'
                                : 'in der Luft'
                            : 'am Boden'
                        
                        }}</span></td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
    <br>
    <div class="container">
        <div class="d-flex flex-row bd-highlight mb-3 align-items-stretch">
            <div class="card mr-2">
                <div class="card-body">
                    <h5 class="card-title">Live-Map</h5>
                    <p class="card-text">Zeigt eine eingebettete Live-Map (bereitgestellt von <a
                            href="https://live.glidernet.org" target="_blank">live.glidernet.org</a>)
                    </p>
                    <a href="javascript:void(0)" v-on:click="showFrame = !showFrame" class="btn btn-primary">
                        Live-Map {{!showFrame ? 'aktivieren' : 'deaktivieren'}}
                    </a>
                </div>
            </div>
            <div class="card ml-2">
                <div class="card-body">
                    <h5 class="card-title">Open Glider Network</h5>
                    <p class="card-text">Alle Daten kommen von Open Glider Network. Dort gibt es Live-Maps sowie eine
                        Entwickler-Doku.</p>
                    <a href="http://wiki.glidernet.org/" class="btn btn-primary" target="_blank">zum Open
                        Glider Network</a>
                </div>
            </div>
        </div>
        <div v-if="showFrame === true" id="frame-container">
            <iframe name="frame" allowfullscreen :src="iframeSrc"></iframe>
        </div>
    </div>
</div>
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">
        2019 - 2020, Niklas Schmidt
        <br>
        Source code on <a href="https://gitlab.com/neon-js/ognlistener">Gitlab</a>, licensed under the <a
            href="https://choosealicense.com/licenses/mit/">MIT License</a>
        <br>
        Thanks to the <a href="http://wiki.glidernet.org/">Open Glider Network</a> for your data and documentation!
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.3/signalr.min.js"></script>
<script>
    const SOCKET_URL = window.location.href.match(/(\w+:\/\/.*\/)(.+\.\w+)?/)[0] + "websocket";

    // noinspection JSUnresolvedFunction
    let app = new Vue({
        el: '#list',
        data() {
            return {
                data: [],
                hasNotificationPermission: Notification && Notification.permission === 'granted',
                showFrame: false,
                iframeSrc: 'https://live.glidernet.org/#c=51.74896,6.15643&z=12&s=1'
            }
        },
        mounted() {
            // noinspection JSUndeclaredVariable
            /**
             * Requests permission to send Notifications
             */
            requestNotificationPermissions = () => {
                Notification.requestPermission(permission => this.$nextTick(() => this.hasNotificationPermission = permission === 'granted'));
            }

            // noinspection JSUndeclaredVariable
            /**
             * Sends a notification with given information
             * @param title string Title of the notification
             * @param message string Message of the notification
             * @param icon string Icon of the message
             */
            sendNotification = (title, message, icon) => {
                if (this.hasNotificationPermission) {
                    return new Notification(title, {body: message, icon})
                }
            }

            // noinspection JSUndeclaredVariable
            /**
             * Converts given coordinate (given as number) to a readable format
             * @param coordinate number The coordinate-value to convert
             * @param isLatitude boolean If true, given coordinate is a latitude value, otherwise a longitude
             * @returns string Formatted coordinate value
             */
            convertCoordinateToReadable = (coordinate, isLatitude) => {
                let degrees = Math.floor(coordinate);
                const minutes = Math.floor(coordinate * 100 % 100 * 0.6);
                const seconds = Math.floor(coordinate * 10000 % 100 * 0.6);

                let direction;
                if (isLatitude) {
                    if (degrees > 0) {
                        direction = 'N';
                    } else {
                        direction = 'S';
                        degrees *= -1;
                    }
                    degrees = degrees.toString().padStart(2, '0');
                } else {
                    if (degrees > 0) {
                        direction = 'E';
                    } else {
                        direction = 'W';
                        degrees *= -1;
                    }
                    degrees = degrees.toString().padStart(3, '0');
                }

                return `${degrees}° ${minutes.toString().padStart(2, '0')}' ${seconds.toString().padStart(2, '0')}" ${direction}`;
            };

            // noinspection JSUndeclaredVariable
            /**
             * Updates the iframes coordinates to the given ones.
             * @param latitude number Latitude of coordinate
             * @param longitude number Longitude of coordinate
             */
            updateFrameCoordinates = (latitude, longitude) => {
                // HACKY workaround, the frame won't reload if only the anchor changes, so blank out the page and reassign it to force reload
                this.$nextTick(() => this.iframeSrc = "about:blank");
                setTimeout(() => this.$nextTick(() => {
                    this.iframeSrc = `https://live.glidernet.org/#c=${latitude},${longitude}&z=17&s=1`;
                    if (!this.showFrame) {
                        this.showFrame = true;
                    }
                }), 10);
            }

            // noinspection JSUndeclaredVariable
            /**
             * Handles initial data to show in list
             * @param entries object[] The initial objects to add
             */
            handleInitialData = (entries) => {
                entries.forEach(e => handleMessage(e, false));
                sortEntries();
            }

            // noinspection JSUndeclaredVariable
            /**
             * Handles new incoming data
             * @param entry object The new object to add
             * @param isUpdate bool If true, the message is handled as an update after getting initial data
             */
            handleMessage = (entry, isUpdate = true) => {
                this.data = this.data || [];
                let outdatedIndex = this.data.findIndex(outdatedEntry => outdatedEntry.aircraft.id === entry.aircraft.id);

                if (outdatedIndex === -1) {
                    if (isUpdate) {
                        const text = entry.aircraft.registration
                            ? `Die [${entry.aircraft.registration}] ist neu aufgetaucht.`
                            : 'Ein Flugzeug mit unbekannter Kennung ist neu aufgetaucht.';
                        sendNotification(`Gliderradar: Neues Flugzeug`, text);
                    }

                    this.data.push(entry);
                } else {
                    if (isUpdate) {
                        if (!this.data[outdatedIndex].isFlying && entry.isFlying) {
                            const text = entry.aircraft.registration
                                ? `Die [${entry.aircraft.registration}] ist gestartet.`
                                : 'Ein Flugzeug mit unbekannter Kennung ist gestartet.';
                            sendNotification(`Gliderradar: Start`, text);

                        } else if (this.data[outdatedIndex].isFlying && !entry.isFlying) {
                            const text = entry.aircraft.registration
                                ? `Die [${entry.aircraft.registration}] ist gelandet.`
                                : 'Ein Flugzeug mit unbekannter Kennung ist gelandet.';
                            sendNotification(`Gliderradar: Landung`, text);
                        }
                    }

                    this.data[outdatedIndex] = entry;

                    if (isUpdate) {
                        sortEntries();
                    }
                }
            }

            // noinspection JSUndeclaredVariable
            /**
             * Sorts current entries
             */
            sortEntries = () => {
                this.data = this.data
                    .sort((entry1, entry2) => {
                        if (entry1.aircraft.registration === '') return 1;
                        if (entry2.aircraft.registration === '') return -1;

                        return (entry1.aircraft.id > entry2.aircraft.id) ? 1 : -1;
                    })
                    .sort((entry1, entry2) => {
                        if (entry1.isFlying && !entry2.isFlying) return -1;
                        if (!entry1.isFlying && entry2.isFlying) return 1;
                        return 0;
                    });
            }

            // noinspection JSUndeclaredVariable
            /**
             * Tries to connect to the signalR socket that provides all the data
             * @returns {Promise<void>}
             */
            connect = async () => {
                // noinspection JSUnresolvedVariable,JSUnresolvedFunction
                const connection = new signalR.HubConnectionBuilder()
                    .withUrl(SOCKET_URL)
                    .configureLogging(signalR.LogLevel.Information)
                    .build();

                function start() {
                    return new Promise((resolve) => {
                        connection.start()
                            .then(resolve)
                            .catch((error) => {
                                console.error("Could not connect to SignalR socket. Retrying in 5 seconds.", error);
                                setTimeout(() => start().then(resolve), 5000);
                            });
                    });
                }

                connection.on("NewData", handleMessage);
                connection.onclose(async () => await start());

                await start()
                    .then(_ => connection.invoke("GetCurrentlyActiveFlightData"))
                    .then(handleInitialData);
            }
        }
    });

    connect();
</script>
</body>
</html>
