bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
*.user
*.Development.json
.DS_Store
.config/
.vscode/
src/WebsocketGateway/appsettings.json
src/OgnGateway/config.json
docker/docker-compose.yml